<% @makingtimes.each do |makingtime| %>
  <div class="makingtime-item">
    <section class="makingtime-name">
      <p class="makingtime-name"><%= makingtime.name %></p>
    </section>
  </div>
<% end %>