<footer class="border-top border-dark mt-5">
  <div class='container mt-3'>
    <div class='row'>
      <div class='mx-auto'>
        <p>© A CUP OF COFFEE</p>
      </div>
    </div>
  </div>
</footer>