<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand mt-2" href="/"><%= image_tag "logo.png" ,size:"350x50" %></a>
      <button class="navbar-toggler" type="button" data-tuggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item "></li>
        </ul>
      </div>
    </div>
  </nav>
</header>